.about-page-container {
  padding-top: 6.5rem;

  .institution-row {
    .institution-header {
      align-items: center;
      border-bottom: solid 1px #dee2e6;
      display: flex;
      height: 2.5em;
      padding-bottom: 0.5em;

      img {
        height: 100%;
        margin-right: 0.85em;
        width: auto;
      }
    }

    .investigators-list {
      .investigator {
        .media-wrapper {
          width: 10.0em;
          height: 10.0em;
          background-color: lighten(#d3d8dd, 5%);
          border: 0.425rem solid #d3d8dd;
          border-radius: 5.0em;
          margin: 0 auto;
          overflow: hidden;

          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }

          .svg-inline--fa {
            color: darken(#d3d8dd, 5%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .about-page-container {
    padding-top: 4rem;
  }
}

@include media-breakpoint-down(xs) {
  .about-page-container {
    .page-section {
      .container {
        .row {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 478px) {
  .about-page-container {
    .institution-row {
      h5.institution-header {
        align-items: normal;
        border-bottom: none;
        display: block;
        margin-bottom: 2.5em;
        text-align: center;

        img.institution-logo {
          margin-right: 0;
        }

        .institution-name {
          display: block;
          margin: 0.5em 0;
        }
      }
    }
  }
}
