html, body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bg-noncompact-primary {
  background-color: #22313d;
}

.bg-noncompact-secondary {
  background-color: #977ae5;
}

.text-noncompact-primary {
  color: #22313d;
}

.text-noncompact-secondary {
  color: #977ae5;
}

.page-section {
  padding: 5.0rem 0;
}

.section-heading {
  color: #22313d;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.0rem;
}
