.patients-page-container {
  padding-top: 6.5rem;
}

@include media-breakpoint-up(lg) {
  .patients-page-container {
    padding-top: 4rem;
  }
}

@include media-breakpoint-down(xs) {
  .patients-page-container {
    .page-section {
      .container {
        .row {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
